@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
    -webkit-user-select: none;
}
.stop-window-drag{ 
    -webkit-app-region:no-drag;
}
.start-window-drag{
    -webkit-app-region:drag;
  }
  
.blures {
    transition: 0.4ms;
    backdrop-filter: blur(3px);
    background: rgba(109, 109, 109, 0.247);
}
.blures_dark {
    transition: 0.4ms;
    backdrop-filter: blur(3px);
    background: rgba(41, 41, 41, 0.247);
}
  .opacites{
    background: rgba(177, 177, 177, 0);
  }


.black-t{
    color:#25282B ;
}
.black-bg{
    background:#25282B ;
}
.blue-t{
    color:#336CFB ;
    fill: #336CFB;
}
.blue-bg{
    background:#336CFB ;
}
.green-t{
    color:#03B575 ;
}
.green-bg{
    background:#03B575 ;
}
.red-t{
    color:#E74F48 ;
}
.red-bg{
    background:#E74F48 ;
}


.my-shadow{
    box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.308);
    }